*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Bahnschrift", sans-serif;
    overflow-x: hidden;
}

.tokar__h2 {
    font-family: "Intro";
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

@font-face {
    font-family: "Intro";
    src: url("./fonts/Intro.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bahnschrift";
    src: url("./fonts/Bahnschrift.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* header */

header {
    width: 100%;
    position: absolute;
    z-index: 1;
}

header .wrapper {
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #86E900;
}

header img {
    width: 65px;
    height: 65px;
    margin-left: -5px;

}

.menu__wrapper {
    display: flex;
    align-items: center;
}

.menu__wrapper button {
    font-family: "Bahnschrift";
    display: flex;
    padding: 12px 16px;
    background: linear-gradient(180deg, #86E900 0%, #006921 100%);
    box-shadow: 0px 4px 4px rgba(0, 55, 15, 0.2);
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
}

.menu__wrapper button:hover {
    background: linear-gradient(180deg, #006921 0%, #86E900 100%);
}

.menu__wrapper a {
    font-family: "Bahnschrift";
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    transition: color 0.2s ease-in-out, transform 0.1s ease-in-out;

}

.menu__wrapper a:hover {
    color: #939393;
    /* Темніший відтінок */
    transform: translateY(-2px);
    /* Легке підняття */
}

/* start first__screen */

.first__screen {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* Щоб коректно працювало на мобільних */
    background-image: url("./img/section__first/first1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.first__screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.first__screen .first__text {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

.first__screen h1 {
    font-family: "Intro";
    position: relative;
    font-weight: 400;
    margin: 0 0 30px 0;
    padding: 210px 0 20px 0;
    text-align: center;
    color: #fff;
    font-size: 72px;
    line-height: 76px;
    text-shadow: -1px 1px 0px #006921;
    border-bottom: 1px solid #86E900;
}

.first__screen p {
    font-family: "Bahnschrift";
    position: relative;
    text-align: center;
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 30px;
}

.first__screen button {
    font-family: "Intro";
    position: relative;
    margin: 0 0 20px 0;
    padding: 20px 28px;
    background: linear-gradient(180deg, #86E900 0%, #006921 100%);
    box-shadow: 0px 4px 4px rgba(0, 55, 15, 0.2);
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
}

.first__screen button:hover {
    background: linear-gradient(180deg, #006921 0%, #86E900 100%);
}

.first__screen img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* section__advantages */

.section__advantages {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #f3f4f6;
}

.section__advantages .wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
}

.advantages__wrapper {
    width: 300px;
    margin: 16px 16px;
    padding: 24px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid #006921;
    border-radius: 20px;
}

.advantages__wrapper p {
    font-family: "Intro";
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #000;
    margin: 14px 0;
}

.advantages__wrapper span {
    font-family: "Bahnschrift";
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #004116;
}

.advantages__wrapper img {
    width: 48px;
    height: 48px;
}

.advantages__wrapper:hover {
    border: 1px solid #86E900;
}

/* section__criteria */

.section__criteria {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    padding-top: 50px;
}

.section__criteria .criteria__wrapper1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.text__1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-align: start;
    margin-left: 18px;
    color: #555555;
}

.criteria1 {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 auto;
    padding: 20px 30px;
    max-width: 1440px;
    margin-bottom: 50px;
    border: 2px solid #555555;
    border-radius: 20px;
    background-color: #f3f4f6;
}

.card {
    position: relative;
    width: 220px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin: 16px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card__two {
    position: relative;
    width: 283px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin: 16px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Фонове зображення */
.card-image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/fine__turning.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/rough__turning.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/turning__of__chamfers__and__grooves.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/thread__cutting.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/drilling__and__boring.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/turning__of__shafts__axles__spindles.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/processing__of__flanges__and__rings.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/production__of__bushings__washers__nuts.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card-image9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./img/section__criteria/turning__of__conical__surfaces.jpg') center/cover no-repeat;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.card:hover .card-image {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.card__two:hover .card-image {
    transform: scale(1.1);
    filter: brightness(0.5);
}

.card-text-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    transform: translateY(calc(100% - 60px));
}

.card:hover .card-text-block {
    transform: translateY(0);
}


.card__two:hover .card-text-block {
    transform: translateY(0);
}

.card-text-block h3 {
    font-weight: normal;
    margin: 0 0 30px;
    font-size: 20px;
}

.card-text-block p {
    margin: 0;
    font-size: 14px;
}


/* section__email__form*/

.section__email__form {
    margin: 0 auto;
    padding: 50px 0;
    background-color: #f3f4f6;
}

.row img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.section__email__form .row {
    display: flex;
    flex-wrap: wrap;
    /* дозволяє переносити елементи на менших екранах */
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    gap: 200px;
}

.section__email__form .row form {
    display: flex;
    flex-flow: column;
}

.section__email__form .row form .box {
    width: 130%;
    margin-bottom: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 15px;
    padding: 12px 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.section__email__form .row form span {
    color: #006921;
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.section__email__form .row form .gender label {
    cursor: pointer;
    color: #555555;
    font-size: 16px;
    margin: 0 30px 0 5px;
    font-weight: bold;

}

.section__email__form .row form .gender input {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #555555;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ccc;
}

.section__email__form .row form .gender {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-bottom: 15px;

}

.section__email__form .row form .gender input:checked {
    background-color: #006921;
    border-color: #006921;
    border-radius: 50%;
}

.section__email__form .row form .gender #yes:checked~label[for=yes] {
    color: #006921;
}

.section__email__form .row form .gender #no:checked~label[for=no] {
    color: #006921;
}

.section__email__form .row form .btn__form {
    padding: 12px 18px;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    background-color: #006921;
    color: #fff;

}

.section__email__form .row form .btn__form:hover {
    background-color: #86E900;
    color: #006921;
}

/* section__team */

.section__team {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}

.section__team img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.section__team .wrapper {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    flex-flow: row wrap;
}

.team__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
    margin: 0 80px 40px 80px;
}

.team__wrapper p {
    font-family: "Intro";
    font-weight: 100;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000;
    margin-top: 12px;
    margin-bottom: 12px;
}

.team__wrapper span {
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #006921;
}

.section__team .wrapper img:hover {
    transform: scale(1.10);
    box-shadow: 0 2px 100px rgba(0, 105, 33, 0.5);
}

/* section__qanda*/

.section__qanda {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #f3f4f6;
}

.section__qanda .wrapper1 {
    margin: 0 16px;
}

.section__qanda .wrapper2 {
    margin: 0 16px;
}

.qa__wrapper {
    padding: 24px;
    border: 2px solid #006921;
    border-radius: 15px;
    background: #fcfaff;
    position: relative;
    max-width: 350px;
    height: fit-content;
    margin-bottom: 24px;
    cursor: pointer;
}

.qa__wrapper p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    opacity: 0.8;
    margin: 0;
    padding-bottom: 12px;
}

.qa__wrapper span {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #006921;
    overflow: hidden;
    transition: 0.3s;
}

.qa__wrapper img {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.section__qanda .text__wrapper {
    display: flex;
    flex-flow: column;
    margin-right: 32px;
    max-width: 412px;
}

.section__qanda h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
}

.section__qanda h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #006921;
    margin: 0;
}

.section__qanda .text__wrapper img {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    margin-bottom: 24px;
}

/* footer */

footer {

    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding: 50px 70px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 40px 50px;
    border-bottom: 1px solid #006921;
}

footer .top img {
    width: 65px;
    height: 65px;
}

footer .top a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #006921;
    text-decoration: none;
    margin: 0 24px;
}

footer .bottom {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    opacity: 0.5;
    padding: 40px 0;
}

/* buttons start */

.scroll-top-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #006921;
    /* Колір фону */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    /* Спочатку прихована */
    visibility: hidden;
    /* Щоб не можна було натиснути */
    transition: opacity 0.3s ease, visibility 0.3s;
    z-index: 999;
    /* Щоб бути поверх інших елементів */
}

.scroll-top-btn:hover {
    background-color: #008b2f;
    /* Трохи світліше при наведенні */
}


/* mobile__version */

@media (max-width: 1350px) {
    .section__email__form .row img {
        max-width: 400px;
    }

    .section__email__form .row {
        gap: 100px;
    }

    .criteria1 {
        margin: 0 50px 50px 50px;
    }

    .section__qanda {
        padding: 50px 50px;
    }
}

@media (max-width: 1150px) {
    .section__email__form .row img {
        max-width: 400px;
    }

    .section__email__form .row form .box {
        width: 100%;
    }

    .section__email__form .row {
        gap: 50px;
    }

    .section__email__form .row {
        margin: 0 auto;
    }

    .wrapper {
        justify-content: center;
    }
}

@media (max-width: 1000px) {

    .section__email__form .row img {
        max-width: 350px;
    }

    .section__email__form .row form .box {
        width: 80%;
    }

    .section__email__form .row form .btn__form {
        width: 200px;
    }

    .section__qanda .text__wrapper img {
        max-width: 300px;
        height: auto;
    }

    .section__qanda {
        flex-wrap: wrap;
        
    }

    .section__qanda .wrapper1 {
        justify-content: center;

    }


}

@media (max-width: 900px) {

    footer .top {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        gap: 20px;
    }

    footer .top a {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 12px 24px;
    }
}

@media (max-width: 800px) {
    header .menu__wrapper a {
        display: none;
    }

    header .menu__wrapper button {
        display: none;
    }

    .first__screen h1 {
        font-size: 50px;
        line-height: 56px;
        padding-top: 250px;
    }

    .first__screen p {
        font-size: 16px;
        line-height: 16px;
        margin: 0;
    }

    .first__screen button {
        padding: 16px 20px;
        font-size: 16px;
    }

    .tokar__h2 {
        font-size: 42px;
    }

    .text__1 {
        text-align: center;
        margin: 0;
    }

    .section__team img {
        width: 130px;
        height: 130px;
    }

    .team__wrapper p {
        font-size: 24px;
    }

    .wrapper1 {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 16px;
    }

    .section__qanda .text__wrapper {
        margin: 12px 0;
    }
}

@media (max-width: 650px) {
    header img {
        width: 50px;
        height: 50px;
    }

    .first__screen h1 {
        text-align: center;
        margin: 0 auto;
        padding-top: 250px;
        left: auto;
        font-size: 36px;
        line-height: 36px;
    }

    .first__screen .first__text p {
        text-align: center;
        padding-top: 20px;
        margin: 0 50px;
        left: auto;
        white-space: normal;
    }

    .first__screen .first__text p br {
        display: none;
    }

    .first__screen button {
        justify-content: center;
        left: auto;
        margin: 0 auto;
        padding: 16px 20px;
        font-size: 16px;
    }

    .tokar__h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .section__email__form .row form {
        align-items: center;
    }

    .section__advantages .wrapper .advantages__wrapper p {
        font-size: 24px;
        line-height: 24px;
    }

    .section__advantages .wrapper .advantages__wrapper {
        width: 250px;
    }

    .team__wrapper p {
        font-size: 22px;
    }

    .team__wrapper span {
        font-size: 18px;
    }

}

@media (max-width: 450px) {
    .text__1 {
        font-size: 20px;
    }

    .card-text-block {
        transform: translateY(calc(100% - 80px));
    }

    .card-text-block h3 {
        font-size: 18px;
        margin-bottom: 120px;
    }

    .card-text-block p {
        text-align: center;
        padding-bottom: 30px;
    }

    .section__email__form .row {
        gap: 20px;
    }

    .section__email__form .row img {
        max-width: 275px;
    }

    .section__email__form .row form span {
        font-size: 18px;
    }

    .section__email__form .row form .box {
        font-size: 14px;
    }

    .team__wrapper {
        margin: 0 20px 40px 20px;
    }

    .section__qanda .text__wrapper img {
        max-width: 250px;
    }

    .qa__wrapper {
        width: 250px;
    }

    footer .top {
        padding: 0 50px 20px 50px;
    }

    footer .bottom {
        padding: 20px 0;
    }

    .scroll-top-btn {
        width: 45px;
        height: 45px;
        right: 30px;
        bottom: 30px;
        font-size: 20px;
    }
}