*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Space Grotesk", serif;
    overflow-x: hidden;
}

.nft__h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000;
    margin-bottom: 24px;
}

.nft__h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532c59;
}

/* header */

header {
    width: 100%;
    position: absolute;
    z-index: 1;
}

header .wrapper {
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid #00fc4c;
}

header img {
    width: 70px;
    height: 70px;
    margin-right: 32px;

}

.menu__wrapper {
    display: flex;
    align-items: center;
}

.menu__wrapper button {
    display: flex;
    padding: 12px 16px;
    background: linear-gradient(180deg, #2aa741 0%, #006d21 100%);
    box-shadow: 0px 4px 4px rgba(0, 55, 15, 0.2);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
}

.menu__wrapper button:hover  {
    background: linear-gradient(180deg, #006d21 0%, #2aa741 100%);
}

.menu__wrapper a {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
    
}

/* start first__screen */

.first__screen {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.first__screen::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.first__screen h1 {
    display: inline-block;
    text-align: start;
    font-weight: 700;
    color: #fff;
    font-size: 90px;
    line-height: 96px;
    text-shadow: -1px 1px 0px #2aa741;
    margin: 0 auto;
    margin-left: 150px;
    padding-top: 180px;
    padding-bottom: 14px;
    border-bottom: 1px solid #00fc4c;
}

.first__screen p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    color: #ffffff;
    margin-left: 150px;
    padding-bottom: 30px;
}

.first__screen button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    padding: 20px 24px;
    background: linear-gradient(180deg, #2aa741 0%, #006d21 100%);
    box-shadow: 0px 4px 4px rgba(0, 55, 15, 0.2);
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease-in-out;
}

.first__screen button:hover  {
    background: linear-gradient(180deg, #006d21 0%, #2aa741 100%);
}

.first__screen img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

/* section__partners */

.section__partners img {
    gap: 40px;
    width: 150px;
    height: 40px;
}

.section__partners {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 0px;
    margin-top: 101px;
    max-width: 1440px;
    gap: 40px;
    
}

/* section__team */

.section__team {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
}

.section__team img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.section__team .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 160px;
    padding-top: 80px;
}

.team__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 100px;
}

.team__wrapper p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000;
    margin-top: 12px;
    margin-bottom: 12px;
}

.team__wrapper span {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532c59;
}

/* section__collections */

.section__collections {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 1440px;

}

.section__collections .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 64px;

}

.wrapper__collections {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 412px;
    margin: 0 16px;
    margin-bottom: 64px;
}

.wrapper__collections img {
    width: 412px;
    height: 396px;
    border-radius: 15px;
}

.wrapper__collections p {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000;
    margin: 0;
    padding-bottom: 12px;
}

.wrapper__collections span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532c59;
    margin: 0;
    padding-bottom: 12px;
}

/* section__provide */

.section__provide {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

.section__provide .wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 56px;
    margin: 0 auto;
}

.provide__wrapper {
    width: 301px;
    margin: 0 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
}

.provide__wrapper p {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000;
    margin: 12px 0;
}

.provide__wrapper span {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532c59;
}

.provide__wrapper img {
    width: 48px;
    height: 48px;
}

/* section__qanda*/

.section__qanda {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.section__qanda .wrapper1 {
    margin-right: 32px;
}

.qa__wrapper {
    padding: 24px;
    border: 2px solid #d6bcfa;
    border-radius: 15px;
    background: #fcfaff;
    position: relative;
    max-width: 412px;
    height: fit-content;
    margin-bottom: 24px;
    cursor: pointer;
}

.qa__wrapper p {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    opacity: 0.8;
    margin: 0;
    padding-bottom: 12px;
}

.qa__wrapper span {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532c59;
    overflow: hidden;
    transition: 0.3s;
}

.qa__wrapper img {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.section__qanda .text__wrapper {
    display: flex;
    flex-flow: column;
    margin-right: 32px;
    max-width: 412px;
}

.section__qanda h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000;
    margin-top: 0;
    margin-bottom: 24px;
}

.section__qanda h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532c59;
    margin: 0;
}

/* section__ready*/

.section__ready {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1440px;
    margin-top: 90px;
    margin-bottom: 160px;
}

.ready__wrapper {
    background: #fcfaff;
    border: 1px solid #d6bcfa;
    box-shadow: inset 0px 0px 50px #f8e0fa;
    border-radius: 60px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 1300px;
    height: 446px;
    position: relative;
}

.ready__wrapper h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
}

.ready__wrapper h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532c59;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 32px;
}

.ready__wrapper button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: #532c59;
    text-align: center;
    border-radius: 15px;
    outline: none;
    padding: 16px 20px;
}

.ready__wrapper img {
    position: absolute;
    width: 250px;

}

.ready__wrapper img:first-child {
    left: 30px;
}

.ready__wrapper img:nth-child(2) {
    right: 30px;
}

/* footer */

footer {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    padding: 0 60px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
    border-bottom: 1px solid #ccd5df;
}

footer .top a{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
    margin: 0 12px;
}

footer .bottom {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    opacity: 0.5;
    padding: 40px 0;
}

/* mobile__version */

@media (max-width: 1000px) {
    header .wrapper a {
        display: none;
    }

    .first__screen__img2 {
        top: -5px;
        right: 40px;
    }
}

@media (max-width: 1170px) {
.first__screen__img3 {
    top: 360px;
}
}

@media (max-width: 720px) {
    .first__screen h1{
        font-size: 36px;
        line-height: 56px;
    }

    .first__screen p{
        padding-top: 16px;
        margin-bottom: 24px;
    }

    .first__screen p br{
        display: none;
    }

    .first__screen {
        padding: 0px 50px;
    }

    .first__screen__img1 {
        top: 148px;
        left: -110px;
    }

    .first__screen__img2 {
        right:  2px;
        top: -5px;
    }

    .first__screen__img4 {
        width: 105px;
        height: auto;
        right: -50px;
        top: 363px;
    }

    .first__screen__img3 {
        width: 122px;
        height: auto;
        top: 376px;
        left: -20px;
    }
}

